<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="//cdn.jsdelivr.net/npm/phaser@3.60.0/dist/phaser.js"></script>
    <script src="player.js"></script>
    <script src="scene.js"></script>
    <script src="enemy.js"></script>
    <title>phaser3</title>
    <style>
    </style>
</head>

<body>

    <script>
        let playerData = JSON.parse(localStorage.getItem('selectedPlayerData'));

        if (playerData) {
            const config = {
            type: Phaser.AUTO,
            width: 800,
            height: 600,
            parent: 'app',
            disableContextMenu: true, //禁止右鍵
            scale: {
                autoCenter: Phaser.Scale.CENTER_BOTH //畫布置中
            },
            physics: {
                default: 'arcade',
                arcade: {
                    debug: false, 
                    gravity: {  //重力
                        y: 100,
                    }
                }
            },
            scene: [scene]
        }

            const game = new Phaser.Game(config);
            game.scene.start(playerData.scene_key, playerData);

        } else {
            console.error('No player data found in localStorage.');
        }

    </script>
</body>

</html>
